.profile__description {
  margin: 9px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .profile__description {
    margin-top: 5px;
    font-size: 14px;
  }
}
