.places__grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap: 20px 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
