.button_style_fill-m {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  border-radius: 2px;
}

.button_style_fill-m:hover:enabled {
  opacity: 0.8;
  cursor: pointer;
}

@media only screen and (max-width: 537.5px) {
  .button_style_fill-m {
    font-size: 14px;
    min-height: 46px;
  }
}
